body {
    background-color: lightblue;
  }

  #result {
  font-size: 40px; 
    text-align: center; 
}
#bid{
    border:1px solid purple;
    border-width: 4px;
    margin: 100px;
    padding:40px;
    text-align:center;
}
#bid h1 {
    padding: 10px;
    margin: 10px;
    padding-bottom:20px;
}
#choices {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:auto;
    
}
button {
    font-size: 40px;
    font-family:Georgia;
    padding: 15px;
}

#rock {
background-color: black; 
color: white; 
}

#paper {
background-color: #f3feb0; 
}

#scissors {
background-color: #812f33;
color: white; 
}
